@import "config";
@import "utilities";
@import "item_grid";
@import "burger_menu";
@import "thank_you";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 50%;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: $light-color;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
  font-size: 1.4rem;
}

ul {
  list-style: none;
}

// Main Nav
#main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;

  .logo {
    flex: 1;
    margin-left: 0;
    padding-left: 0.5rem;
    font-size: 1rem;
    color: #d3d9d4;
    margin-top: 4px;
  }

  .nav-links {
    display: flex;
    flex: 2;
    justify-content: center;
  }
  .end-link {
    text-align: right;
    color: #fff;
    background: #245483;
    border-bottom: none;
    text-decoration: none;

    &:hover {
      background: #384a5c;
      transition: all ease 1s;
    }
  }
  li {
    padding: 1rem 1.5rem;
  }

  a {
    text-decoration: none;
    color: #fff;
    text-transform: none;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;

    &:hover {
      border-color: $main-color;
    }

    &.current {
      border-color: $main-color;
    }
  }
}
//Header
#header {
  &-home {
    background: $bg-img no-repeat center center / cover;
    height: 70vh;
    color: #fff;

    .title {
      text-align: left;
      font-size: 2.7rem;
      padding-top: 10%;
    }

    p {
      font-weight: 400;
      color: #fff;
    }

    .content-btn {
      padding-top: 1.4rem;
      font-size: 0.9rem;
      a {
        margin-right: 1.4rem;
        border-radius: 5px;
      }
      .btn-main:hover {
        background: #607d8b;
        color: #fff;
        transition: all background 1s ease-in;
      }

      .btn-dark:hover {
        background: #21272b;
        color: #fff;
        transition: all background 1s ease-in;
      }
    }
  }

  // History Header
  &-inner {
    background: #21272b no-repeat 20% 30% / cover;
    color: #fff;
    height: 5.5rem;
    border-bottom: 3px solid #21272b;
  }
}

// Specialize
#home {
  &-a {
    background: #2e3944;
    height: 190vh;
    color: #fff;

    .main-wrapper {
      .hero-section {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;

        .image-wrapper {
          position: relative;
          width: 600px;
        }

        .main-img {
          margin-top: 9%;
          margin-left: 0.1%;
          display: block;
        }
        .overlay-text {
          position: absolute;
          top: 85%;
          left: 42%;
          color: #fff;
          font-size: 1.3rem;
          text-align: left;
          font-weight: 500;
          line-height: 1.5;
        }

        .secondary-img {
          position: absolute;
          top: 130%;
          margin-left: 54.5%;
          img {
            width: 63%;
            justify-content: center;
          }
        }
        .info-text {
          padding-top: 30%;
          display: flex;
          text-align: left;
          gap: 50px;
          justify-content: space-between;

          .headline {
            flex: 1;
            font-size: 1rem;
            line-height: 1.6;
          }

          .small-text {
            position: relative;
            left: 44%;

            .small-text p {
              font-size: 1rem;
              color: #ccc;
            }
            a {
              margin-top: 2rem;
              border-radius: 4px;
              &:hover {
                color: #fff;
                background: #607d8b;
                transition: all 1s background ease-in;
              }
            }
          }
        }
      }
    }
  }
}

// History

#about {
  &-a {
    background: #21272b;
    color: #fff;
    height: 190vh;

    .section-title {
      font-size: 2.7rem;
      font-weight: 500;
      line-height: 1.2;
      margin-bottom: 40px;
    }

    .img-container {
      margin-left: 200px;
      width: 100%;
    }

    .about {
      margin-top: 60px;
      margin-bottom: 60px;
      line-height: 1.5;
      font-weight: 500;
      font-size: 1.2rem;
    }
    .statement {
      margin-right: 130px;

      h4 {
        margin-bottom: 1.3rem;
        font-size: 1.3rem;
        text-transform: none;
        color: #d3d9d4;
      }
      p {
        font-size: 1.2rem;
        font-weight: 400;
        text-align: center;
      }
      .lists {
        text-align: center;

        h4 {
          margin-bottom: 0.3rem;
        }

        ul {
          display: flex;
          text-align: center;
          align-items: center;

          justify-content: center;
          li {
            display: flex;
            padding: 1rem;
            text-align: center;
            font-size: 1.2rem;
            font-weight: 400;
          }
        }
      }
    }
  }
}

// Ceo
#ceo {
  color: #fff;
  background: #212a31;

  .about-ceo {
    display: grid;
    grid-template-areas:
      "bioimage bio bio"
      "language language language";
    gap: 1.2rem;

    @media (max-width: 768px) {
      grid-template-areas:
        "bioimage"
        "bio";
      grid-template-columns: 1fr;
    }
  }

  .bio-img {
    grid-area: bioimage;
    border-radius: 50%;
    max-width: 100%;
    height: auto;
  }

  .bio {
    grid-area: bio;
    border-left: 3px solid $main-color;
    padding: 0.8rem;
    h4 {
      margin: auto;
      margin-bottom: 12px;
    }
  }

  p {
    text-align: left;
    font-size: 1.2rem;
    font-weight: 500;
  }

  h2 {
    text-align: center;
    margin-right: 8%;
    text-transform: none;
    color: #fff;
  }

  h4 {
    font-size: 1.3rem;
    text-transform: none;
    font-weight: 500;
    margin-bottom: 10px;
  }
}

//Contact
#contact {
  background: #2e3944;
  padding: 80px 0;
  color: #fff;

  .container {
    max-width: 1200px;
  }
}
.contact-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;

  .contact-info {
    min-width: 280px;
    flex: 1;
  }
}

.section-header {
  margin-bottom: 50px;
  text-align: center;

  h2 {
    color: #fff;
    font-size: 2em;
    text-transform: none !important;
    font-weight: bold;
    margin-bottom: 20px;
  }

  p {
    color: #fff;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.contact-info {
  flex: 1;
  width: 50%;
  min-width: 430px;
  &,
  .contact-info-item {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .contact-info-item {
    margin-bottom: 30px;

    .contact-info-icon {
      height: 70px;
      width: 70px;
      margin-left: 14px;
      background-color: #748d92;
      border-radius: 50%;

      i {
        font-size: 30px;
        text-align: center;
        margin-left: 19px;

        color: #212a31;
        line-height: 70px;
      }
    }

    .contact-info-content {
      margin-left: 20px;

      h4 {
        color: #1da9c0;
        font-size: 1.4em;
        margin-bottom: 5px;
      }

      p {
        color: #fff;
        font-size: 1em;
      }
    }
  }
}

.contact-form {
  background: #fff;
  width: 48%;
  padding: 40px;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-top: 50px;

  h2 {
    font-weight: bold;
    font-size: 1.8rem;
    text-transform: none;
    margin-bottom: 10px;
    color: #212a31;
  }

  .input-box {
    position: relative;
    width: 100%;
    margin-top: 10px;

    input,
    textarea {
      width: 100%;
      padding: 5px 0;
      font-size: 16px;
      margin: 10px 0;
      border: none;
      border-bottom: 2px solid #333;
      outline: none;
      resize: none;
    }

    span {
      position: relative;
      left: 0;
      padding: 5px 0;
      font-size: 16px;
      margin: 10px 0;
      pointer-events: none;
      transition: 0.5s;
      color: #666;
    }

    input:focus ~ span,
    textarea:focus ~ span {
      color: #333;
      font-size: 12px;
      transform: translateY(-20px);
    }

    input[type="submit"] {
      width: 100%;
      background: #00bcd4;
      color: #fff;
      border: none;
      cursor: pointer;
      padding: 10px;
      font-size: 18px;
      border: 1px solid #00bcd4;
      transition: 0.5s;
    }

    &[type="submit"]:hover {
      background: #fff;
      color: #00bcd4;
    }

    .btn-dark {
      margin-top: 2rem;
      width: 100%;
      font-size: 1rem;
    }
  }
}

// SERVICES
#work-a {
  h1 {
    font-size: 3rem !important;
  }
}

// Register
main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: #2e3944;

  .container {
    background: #fff;
    position: relative;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

    h2 {
      font-size: 1.7rem;
      color: #212a31;
      font-weight: 600;
      text-align: center;
    }
    p {
      font-size: 1rem;
      color: #212a31;
      text-align: center;
    }
  }
  .form {
    margin-top: 30px;

    .input-box {
      width: 100%;
      margin-top: 20px;

      label {
        color: #333;
      }
    }
    .column {
      display: flex;
      gap: 15px;
    }

    .gender :where(.gender input, .gender label) {
      cursor: pointer;
    }

    .gender label {
      color: #707070;
    }
    .form .gender {
      gap: 5px;
    }

    .gender input {
      accent-color: #245483;
    }

    .gender-box {
      margin-top: 20px;
      h3 {
        color: #333;
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 8px;
      }
    }
    :where(.input-box input, .select-box) {
      position: relative;
      height: 50px;
      width: 100%;
      font-size: 1rem;
      outline: none;
      border: 1px solid #ddd;
      border-radius: 5px;
      padding: 0 15px;
      margin-top: 8px;
      color: #707070;
    }
  }

  .form :where(.gender-option, .gender) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
  }

  .select-box select {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #333;
    font-size: 1rem;
  }

  .addres :where(input, .select-box) {
    margin-top: 15px;
  }

  .btn-dark {
    margin-top: 30px;
    width: 100%;
    height: 55px;
    font-size: 1rem;
    border-radius: 6px;
    font-weight: 500;
    transition: all 0.3s ease;

    &:hover {
      background: #124e66;
    }
  }
}
// Footer

#main-footer {
  background-color: #121212;
  padding: 30px 0;
  color: #fff;
  text-align: center;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;

    .name {
      font-size: 16px;
      letter-spacing: 0.5px;
      color: #ccc;
    }
  }
}

// Js Alert
.alert {
  display: block;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 12px 16px;
  margin: 335px 0;
  font-size: 1.3rem;
  font-weight: 500;
  border-radius: 6px;
  transition: background 0.2s, color 0.2s;
}

.alert.error {
  background: #f8d7da;
  color: #c0392b;
}

.alert.success {
  background: #d4edda;
  color: #155724;
}

.alert.info {
  background: #e7f3fe;
  color: #31708f;
}

@import "media";
